:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}


.container {
    margin: auto;
    height: 100vh;
    min-width: 320px;
    max-width: 600px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chess {
    width: 100%;
}

.chess__field {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background: #fff;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    flex-wrap: wrap;
    transition-property: background-color;
    transition-duration: 2s;
}

.chess__cell {
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    border: 1px solid #777;
    transition-property: background-color;
    transition-duration: 0.6s;
}

.chess__cell--dark {
    background-color: #376d64;
}

.chess__cell--light {
    background-color: #fff;
}

.chess__cell:hover {
    /*border: 2px solid #646f94;*/
    outline: #555 1px auto;
    outline-offset: -3px;
}

.chess__cell--active {
    background-color: orange !important;
}

.chess__controls-wrapper {
    width: 100%;
    margin-top: 15px;
    min-height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

}
